

</body>

<footer>
  <p>&copy;
    <span id="copyright-year">2021</span>
   Farhel
  </p>
  
  <script>
    document.getElementById("copyright-year").innerHTML = `${new Date().getFullYear()}`;
  </script>
  
 </footer>

</html>
